﻿@model AdminPanelViewModel


<table class="table">
    <thead>
        <tr>
            <th>Users</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @user.UserName
                </td>
                <td>
                    <form class="d-inline" asp-action="BanUser" asp-route-id="@user.Id">
                        <input type="hidden" asp-for="@user.Id" />
                        <input type="submit" value="BanUser" class="btn btn-danger my-1" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
