﻿@model BeerViewModel
@using Microsoft.AspNetCore.Identity
@using BeerCatalogue.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">@Model.Name</h1>

<div class="card mb-3">
    <div class="row no-gutters w-100">
        <div class="col-md-4">
            <img src="@Url.Content(Model.ImageURL)" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text"><strong>Description:</strong> @Model.Description</p>
                <p class="card-text"><strong>ABV:</strong> @Model.ABV</p>
                <p class="card-text"><strong>Mililiters:</strong> @Model.Milliters</p>
                <p class="card-text"><strong>Brewery:</strong> @Model.BreweryName</p>
                <p class="card-text"><strong>Style:</strong> @Model.StyleName</p>
                <p class="card-text"><strong>Rating:</strong> @Model.Rating</></p>
            </div>
        </div>
    </div>
</div>

<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-dark">Edit</a>
    }
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>

    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-controller="BeerRatings" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-outline-warning">Rate a beer</a>
        <form asp-controller="Wishlists" asp-action="Add" asp-route-id="@Model.Id" class="d-inline-block">
            <input type="hidden" asp-for="@Model.Id" />
            <input type="submit" value="Add to wishlist" class="btn btn-primary my-1" />
        </form>
        <form asp-controller="Dranklists" asp-action="Add" asp-route-id="@Model.Id" class="d-inline-block">
            <input type="hidden" asp-for="@Model.Id" />
            <input type="submit" value="Add to dranklist" class="btn btn-primary my-1" />
        </form>
        <a asp-controller="Reviews" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-outline-dark my-1">Add review</a>
    }
    <form asp-controller="Reviews" asp-action="Index" asp-route-id="@Model.Id" class="d-inline-block">
        <input type="hidden" asp-for="@Model.Id" />
        <input type="submit" value="See all reviews" class="btn btn-primary my-1" />
    </form>
</div>
