﻿@model ReflectionIT.Mvc.Paging.PagingList<BeerViewModel>
@using ReflectionIT.Mvc.Paging

@using Microsoft.AspNetCore.Identity
@using BeerCatalogue.Models

@inject SignInManager<User> SignInManager
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="get" class="form-inline my-2 my-lg-0">
    <input name="filter" class="form-control mr-sm-2" placeholder="Search for beer"
           value="@Model.RouteValue["Filter"]" />
    <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">
        <span aria-hidden="true"></span> Search
    </button>
</form>
<div class="d-block w-100 float-left position-relative mb-4">
    <h1 class="text-left float-left my-4 text-left w-75 d-inline-block">Beers</h1>
    <p class="text-right float-right w-25 d-inline-block align-middle" style="position: absolute; top: 35%;">
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
</div>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.SortableHeaderFor(model => model.Name)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.ABV)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Rating)
            </th>
        </tr>
    </thead>
</table>
<div class="container p-0">
    <div class="row d-flex">
        @foreach (var item in Model)
        {
            <partial name="_SingleBeerPartial" model="item" />
        }
    </div>
</div>


<nav aria-label="Page navigation example">
    <vc:pager paging-list="@Model" />
</nav>