﻿@model IEnumerable<ReviewViewModel>

@{
    ViewData["Title"] = "UserReviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                Beer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeerName)
            </td>
            <td>
                <form class="d-inline" asp-action="Remove" asp-route-beerId="@item.BeerId" asp-route-userId="@item.UserId">
                    <input type="hidden" asp-for="@item.BeerId" />
                    <input type="hidden" asp-for="@item.UserId" />
                    <input type="submit" value="Remove" class="btn btn-danger" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
