﻿@model IEnumerable<BeerViewModel>

<div class="d-block w-100 float-left position-relative mb-4">
    <h1 class="text-left float-left my-4 text-left w-75 d-inline-block">Beers</h1>
    <p class="text-right float-right w-25 d-inline-block align-middle" style="position: absolute; top: 35%;">
    </p>
</div>
<div class="container p-0">
    <div class="row d-flex">
        @foreach (var item in Model)
        {
        <partial name="_SingleBeerPartial" model="item" />
        }
    </div>
</div>