﻿@model BreweryViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Brewery</h1>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Country
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryName)
        </dd>
    </dl>
</div>
<div class="mb-1">
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="Breweries" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-controller="Breweries" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    }
</div>

<div>
    <a asp-action="Beers" asp-route-id="@Model.Id" class="btn btn-primary">Beers brewed by @Model.Name</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
