﻿@model IEnumerable<BreweryViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-block w-100 float-left position-relative mb-4">
    <h1 class="text-left float-left my-4 text-left w-75 d-inline-block">Breweries</h1>
    <p class="text-right float-right w-25 d-inline-block align-middle" style="position: absolute; top: 35%;">
    </p>
</div>
<div class="container p-0">
    <div class="row d-flex">
        @foreach (var item in Model)
        {
        <div class="col-md-3 mb-5">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title" style="height:55px">@item.Name</h5>
                    <a asp-area="" asp-controller="Breweries" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary d-block w-100 my-3">More Details</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>

