﻿@using ReflectionIT.Mvc.Paging
@model ReflectionIT.Mvc.Paging.PagingList<BreweryViewModel>
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "GetBreweriesForCountry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-block w-100 float-left position-relative mb-4">
    <h1 class="text-left float-left my-4 text-left w-75 d-inline-block">Breweries</h1>
    <p class="text-right float-right w-25 d-inline-block align-middle" style="position: absolute; top: 35%;">
        @if (User.IsInRole("Admin"))
        {
        <a class="btn btn-primary" asp-action="Create">Create New</a>
        }
    </p>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(model => model.Name)
            </th>
        </tr>
    </thead>
</table>

<div class="container p-0">
    <div class="row d-flex">
        @foreach (var item in Model)
        {
            <partial name="_SingleBreweryPartial" model="item" />
        }
    </div>
</div>

<nav aria-label="Page navigation example">
    <vc:pager paging-list="@Model" />
</nav>