﻿@model IEnumerable<BeerViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center my-5">Top Rated Beers</h1>

<div class="card-deck mb-5">
    @foreach (var item in Model)
    {
        <div class="card text-center">
            <img src="@Url.Content(item.ImageURL)" height="300" class="card-img-top" alt="...">
            <div class="card-body">
                <a asp-controller="Beers" asp-action="Details" asp-route-id="@item.Id">
                   <h5 class="card-title">@item.Name</h5>
                </a>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Beer rating: @item.Rating</small>
            </div>
        </div>
    }
</div>