﻿@using Microsoft.AspNetCore.Identity
@using BeerCatalogue.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ol class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark">Hello @UserManager.GetUserName(User)!</a>
        </li>


        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" id="register" asp-area="" asp-controller="Admin" asp-action="Users">Users</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="" asp-controller="Reviews" asp-action="UserReviews">My Reviews</a>
        </li>

        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ol>