﻿@model StyleViewModel
<div class="col-md-3 mb-5">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title pt-2" style="height:55px">@Model.Name</h5>
            <a asp-area="" asp-controller="Styles" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary d-block w-100 my-3">More Details</a>
        </div>
    </div>
</div>