﻿@model CountryViewModel
@using Microsoft.AspNetCore.Identity
@using BeerCatalogue.Models

@inject UserManager<User> UserManager
<div class="col-md-3 mb-5">
    <div class="card text-center">
        <img src="@Url.Content(Model.ImageURL)" class="card-img-top" alt="" />
        <div class="card-body">
            <h5 class="card-title pt-2" style="height:55px">@Model.Name</h5>
            <a asp-area="" asp-controller="Countries" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary d-block w-100 my-3">More Details</a>
            @*<a asp-area="" asp-controller="Beers" asp-action="FilterByCountry" asp-route-id="@Model.Id" class="btn btn-dark d-block w-100 my-3">Get all beers for country</a>*@

            @if (User.IsInRole("Admin"))
            {
                <a asp-area="" asp-controller="Countries" asp-action="Edit" asp-route-id="@Model.Id" class="float-left btn btn-warning" style="width:45%">Edit</a>
                <a asp-area="" asp-controller="Countries" asp-action="Delete" asp-route-id="@Model.Id" class="float-right btn btn-danger" style="width:45%">Delete</a>
            }
        </div>
    </div>
</div>