﻿@model BreweryViewModel
@using Microsoft.AspNetCore.Identity
@using BeerCatalogue.Models

@inject UserManager<User> UserManager
<div class="col-md-3 mb-5">
    <div class="card text-center">
        <img src="~/images/bulgariaFlag.jpg" class="card-img-top" alt="" />
        <div class="card-body">
            <h5 class="card-title" style="height:55px">@Model.Name</h5>
            <a asp-area="" asp-controller="Breweries" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary d-block w-100 my-3">More Details</a>

            @if (User.IsInRole("Admin"))
            {
                <a asp-area="" asp-controller="Breweries" asp-action="Edit" asp-route-id="@Model.Id" class="float-left btn btn-warning" style="width:45%">Edit</a>
                <a asp-area="" asp-controller="Breweries" asp-action="Delete" asp-route-id="@Model.Id" class="float-right btn btn-danger" style="width:45%;">Delete</a>
            }
        </div>
    </div>
</div>