﻿@{
    ViewBag.Title = "Not Found";
}

<h1 class="my-5 text-center">@ViewBag.ErrorMessage</h1>

<a asp-action="Index" asp-controller="Home">
    <h5 class="text-center">Click here to navigate to the home page</h5>
</a>
