﻿@model CountryViewModel
@using Microsoft.AspNetCore.Identity
@using BeerCatalogue.Models

@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Country</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

<div class="mb-1">
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="Countries" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-controller="Countries" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    }
</div>

<div>
    <a asp-controller="Breweries" asp-action="GetBreweriesForCountry" asp-route-id="@Model.Id" class="btn btn-primary">Breweries in @Model.Name</a>
    <a asp-controller="Beers" asp-action="FilterByCountry" asp-route-id="@Model.Id" class="btn btn-primary ">Beers brewed in @Model.Name</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
