﻿@model StyleViewModel
@using Microsoft.AspNetCore.Identity
@using BeerCatalogue.Models

@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="table">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<div class="mb-1">
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="Styles" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-controller="Styles" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    }
</div>

<div>
    <a asp-controller="Beers" asp-action="FilterByStyle" asp-route-id="@Model.Id" class="btn btn-primary">@Model.Name beers</a>
    <a asp-action="Index" class="btn btn-primary">Back to list</a>
</div>